Park_DACE/Connected Services/BotSpotSensorService/BotSpotSensors2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52490/BotSpotSensors.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" />
  <xs:element name="ParkingSpot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" minOccurs="0" name="parkingSpot" nillable="true" type="q1:ParkingSpot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParkingSpotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParkingSpotsXpath">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParkingSpotsXpathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetParkingSpotsXpathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>