Park_DACE/Connected Services/ParkingSpotClient/BotSpotSensors1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IntBatteryStatus" type="xs:int" />
      <xs:element minOccurs="0" name="StrId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
  <xs:complexType name="ArrayOfParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParkingSpot" nillable="true" type="tns:ArrayOfParkingSpot" />
</xs:schema>