Park_DACE/Connected Services/ParkingSpotClient/ServiceBOTSpotSensors.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBOTSpotSensors" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52490/BotSpotSensors.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52490/BotSpotSensors.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52490/BotSpotSensors.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBOTSpotSensors_AddParkingSpot_InputMessage">
    <wsdl:part name="parameters" element="tns:AddParkingSpot" />
  </wsdl:message>
  <wsdl:message name="IServiceBOTSpotSensors_AddParkingSpot_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddParkingSpotResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBOTSpotSensors_DeleteParkingSpot_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParkingSpot" />
  </wsdl:message>
  <wsdl:message name="IServiceBOTSpotSensors_DeleteParkingSpot_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParkingSpotResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBOTSpotSensors_GetParkingSpots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParkingSpots" />
  </wsdl:message>
  <wsdl:message name="IServiceBOTSpotSensors_GetParkingSpots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParkingSpotsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBOTSpotSensors">
    <wsdl:operation name="AddParkingSpot">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBOTSpotSensors/AddParkingSpot" message="tns:IServiceBOTSpotSensors_AddParkingSpot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBOTSpotSensors/AddParkingSpotResponse" message="tns:IServiceBOTSpotSensors_AddParkingSpot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteParkingSpot">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBOTSpotSensors/DeleteParkingSpot" message="tns:IServiceBOTSpotSensors_DeleteParkingSpot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBOTSpotSensors/DeleteParkingSpotResponse" message="tns:IServiceBOTSpotSensors_DeleteParkingSpot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParkingSpots">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBOTSpotSensors/GetParkingSpots" message="tns:IServiceBOTSpotSensors_GetParkingSpots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBOTSpotSensors/GetParkingSpotsResponse" message="tns:IServiceBOTSpotSensors_GetParkingSpots_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBOTSpotSensors" type="tns:IServiceBOTSpotSensors">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddParkingSpot">
      <soap:operation soapAction="http://tempuri.org/IServiceBOTSpotSensors/AddParkingSpot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParkingSpot">
      <soap:operation soapAction="http://tempuri.org/IServiceBOTSpotSensors/DeleteParkingSpot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParkingSpots">
      <soap:operation soapAction="http://tempuri.org/IServiceBOTSpotSensors/GetParkingSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBOTSpotSensors">
    <wsdl:port name="BasicHttpBinding_IServiceBOTSpotSensors" binding="tns:BasicHttpBinding_IServiceBOTSpotSensors">
      <soap:address location="http://localhost:52490/BotSpotSensors.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>